* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0d0f24;
  color: white;
  transition: background 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

header {
  background: linear-gradient(180deg, #0d0f24, #0a0c1a);
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45),
    inset 0 -1px 0 rgba(255, 255, 255, 0.05);

  /*box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6), 0 0 12px rgba(59, 61, 255, 0.4);*/
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(
      circle at 20% 30%,
      rgba(129, 33, 208, 0.15) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 70%,
      rgba(255, 0, 122, 0.1) 0%,
      transparent 40%
    );
}

@keyframes mesh-float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(30px, 50px);
  }
}

.navegacao-principal {
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-portfolio {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}

.menu-de-navegacao {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menu-de-navegacao a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 6px;
  font-size: 16px;
}

.menu-de-navegacao a:hover {
  color: #ff1493;
}

.menu-de-navegacao a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff1493;
  border-radius: 2px;
}

#theme-toggle {
  position: relative;
  width: 72px;
  height: 36px;
  background: linear-gradient(145deg, #0d1028, #080a1a);
  border: 2px solid #3b3dff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

#theme-toggle i {
  font-size: 16px;
  z-index: 2;
}

#theme-toggle .bi-sun-fill {
  color: #f5c542;
  opacity: 1;
}

#theme-toggle .bi-moon-stars-fill {
  color: #a855f7;
  opacity: 0.4;
}

#theme-toggle::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;

  width: 28px;
  height: 28px;

  background: linear-gradient(135deg, #7c3aed, #ec4899);
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(236, 72, 153, 0.6);

  transition: transform 0.3s ease;
  transform: translateY(-50%);

  z-index: 1;
}

body.dark #theme-toggle::before {
  transform: translateX(33px) translateY(-50%);
}

body.dark #theme-toggle .bi-sun-fill {
  opacity: 0.3;
}

body.dark #theme-toggle .bi-moon-stars-fill {
  opacity: 1;
}

/*----------------------------------------------------------*/
.home-page-intro {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

.home-page-intro figure {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transition: transform 0.5s ease;
  border: 2px solid rgba(129, 33, 208, 0.5);
  overflow: hidden;
  box-shadow: 0 0 50px rgba(129, 33, 208, 0.4);
}
.home-page-intro figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-page-intro p {
  font-size: 30px;
  letter-spacing: 1px;
}
.home-page-intro h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  background: linear-gradient(135deg, #bf0c6d, #3a2dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem 0;
}

.subtitle-intro {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1.5rem !important;
  color: #e2e8f0 !important;
  text-transform: none !important;
  letter-spacing: 0 !important;
  opacity: 1;
}

.intro-buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 40px;
}

.intro-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.button-primary-intro {
  background: linear-gradient(135deg, #da0067, #6919ab);
  color: white;
  padding: 16px 45px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: 0.3s ease;
}

.button-secondary-intro {
  background: linear-gradient(#0d1028, #080a1a) padding-box,
    linear-gradient(135deg, #da0067, #6919ab) border-box;

  border: 2px solid transparent;

  border-radius: 50px;
  padding: 16px 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  transition: 0.3s ease;
}

.button-primary-intro:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(255, 0, 122, 0.6);
}

.button-secondary-intro:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgba(255, 0, 122, 0.6);
}

/*----------------------------- SEÇÃO ABOUT ME ---------------------------------------*/
.home-page-about {
  padding: 100px 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.container-about {
  display: flex;
  align-items: center;
  gap: 80px;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.about-text-gradient {
  background: linear-gradient(135deg, #bf0c6d, #3a2dff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.about-text p {
  font-size: 20px;
  line-height: 1.6;
  color: #cbd5e1;
  margin-bottom: 1.5rem;
}

.about-visual::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(129, 33, 208, 0.2) 0%, transparent 70%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

